@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body { @apply bg-gray-950 text-gray-100 font-sans; }
  ::-webkit-scrollbar { @apply w-1.5; }
  ::-webkit-scrollbar-track { @apply bg-gray-900; }
  ::-webkit-scrollbar-thumb { @apply bg-gray-600 rounded-full; }
}
